@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBg: hsl(217, 54%, 11%);
    --cardBg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 1.125rem;
    font-family: 'Outfit', sans-serif;
    background-color: var(--mainBg);
}

main {
    width: 80vw;
    height: fit-content;
    background-color: var(--cardBg);
    padding: 1.125em;
    border-radius: 14px;
}

main #main-hero-img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

main h2 {
    font-weight: 600;
    color: var(--white);
}

main p {
    font-weight: 300;
    color: var(--softBlue);
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: 400;
    color: var(--softBlue);
    border-bottom: 2px solid var(--line);
}

ul :first-child {
    color: var(--cyan);
    font-weight: 400;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 0em 0em 0em;
    font-weight: 300;
}

#card-foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-foot img {
    border: 2px solid var(--white);
    border-radius: 50%;
}

#card-foot span {
    color: var(--white);
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) {
    main {
        max-width: 375px;
    }
}