@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBg: hsl(217, 54%, 11%);
    --cardBg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--mainBg);
}

main {
    width: 85vw;
    height: fit-content;
    background-color: var(--cardBg);
    padding: 1.25em;
    border-radius: 14px;
}

#main-hero-img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    display: block;
}

main .main-image {
    position: relative;
}

main .main-image div {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 40%);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    border-radius: 7px;
    cursor: pointer;
}

main .main-image div:hover {
    opacity: 1;
}

main .main-image div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main h1 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--white);
    padding: 0.5em 0em 0.25em;
}

main h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

main p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--softBlue);
}

#nft-description {
    padding: 0.25em 0em 0.5em;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0.5em 0em 1em;
    font-weight: 400;
    color: var(--softBlue);
    border-bottom: 2px solid var(--line);
}

ul :first-child {
    color: var(--cyan);
    font-weight: 400;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1rem;
}

ul img {
    padding: 0em 0.3em 0em 0em;
}

#card-foot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0em 0em;
}

#card-foot img {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 2.5rem;
    margin: 0em 1em 0em 0em;
}

#card-foot span {
    color: var(--white);
    font-weight: 400;
}

#card-foot span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) {
    main {
        max-width: 320px;
    }
}